<div class="header">
  <nav class="header__mainNav">
    <a href="" class="home__mainNavText">Blog</a>
    <a href="" class="home__mainNavText">Home</a>
    <a href="" class="home__mainNavText">About me</a>
  </nav>
  <div class="header__user">
    <img
      src="https://i.pinimg.com/736x/3f/9b/82/3f9b829642e0dec4b6a4713d7dad42ef.jpg"
      alt=""
    />
  </div>
</div>
