<div class="main">
  <div class="main__posts">
    <div class="post__box">
      <div class="post">
        <img
          src="https://i.pinimg.com/564x/01/f7/62/01f762ffce83c67d398506cc67114725.jpg"
          alt=""
          class="post__img"
        />
        <div class="post__content">
          <h2 class="post__contentTitle">
            Blog: share knowled with programming
          </h2>
        </div>
      </div>
    </div>

    <div class="post__box postSencond">
      <div class="post">
        <img
          src="https://i.pinimg.com/564x/4b/8f/e8/4b8fe8e1a7e059bdabe58145e5e5762f.jpg"
          alt=""
          class="post__img"
        />
        <div class="post__content">
          <h2 class="post__contentTitle">
            Blog: share knowled with programming
          </h2>
        </div>
      </div>
    </div>

    <div class="post__box postSencond">
      <div class="post">
        <img
          src="https://i.pinimg.com/736x/49/dd/2b/49dd2b654bac725ce89d69bd063a9dff.jpg"
          alt=""
          class="post__img"
        />
        <div class="post__content">
          <h2 class="post__contentTitle">
            Blog: share knowled with programming
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
